@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Tajawal&display=swap);

body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

.large-header {
	width: 100%;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 0;
	position: absolute;
	height: 100% !important;
	bottom: 0px;
}

#demo-canvas{
	width: 100%;
	height: 100%;
}

.ar{
	font-family: 'Tajawal', sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 150.9%;
	position: relative;
	left: 0;
	top: 0;
	margin-right: calc(100vw - 568px);
	z-index: 1;
}

/* start nav */
#home {
	background-image: url('../img/demo-1-bg.jpg');
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	background-size: 100% 100%;
}

.Content{
	position: relative;
	font-family: 'Montserrat';
	font-style: normal;
	left: 0;
	top: 0;
	margin-right: 805px;
	z-index: 1;
}

.nav-bar{
	display: flex;
	position: relative;
	z-index: 1;
	padding-top: 30px;
	margin-left: 34px;

}

#english{
	color: white;
	padding-right: 8px;
	border-right: 2px solid #FFFFFF;
	color: rgba(255, 255, 255, 0.5);
	font-family: 'Tajawal';
	font-style: normal;
	font-weight: 400;
	font-size: 20.7521px;
	line-height: 25px;
	cursor: pointer;
	text-decoration:none;
	margin-left: 367px;
}

#arabic{
	padding-left:8px;
	color: rgba(255, 255, 255, 0.5);
	font-family: 'Tajawal';
	font-style: normal;
	font-weight: 400;
	font-size: 20.7521px;
	line-height: 25px;
	cursor: pointer;
	text-decoration:none;
}

#arabic.active , #english.active{
	color: white;
}

/* end nav */

/* start text */
.header{
	font-weight: 700;
	font-size: 40px;
	line-height: 49px;
	color: #FF8500;
	margin: 64.42px 0 19px 34px;
}

.Content .focal span{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 150.9%;
	color: #FFFFFF;
}

.Content .focal{
	width: 610px;
	height: 90px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 150.9%;
	color: #FFFFFF;
	margin: 0;
	margin-left: 34px;
}

.focal-ar span{
	font-family: 'Tajawal';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 150.9%;
	color: #FFFFFF;
}

.focal-ar{
	width: 610px;
	height: 90px;
	font-family: 'Tajawal';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 150.9%;
	color: #FFFFFF;
	margin: 0;
	margin-left: 34px;
}

.txt-ar{
	width: 610px;
	height: 90px;
	font-family: 'Tajawal';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 150.9%;
	margin: 0;
	margin-left: 34px;
	color: #FFFFFF;
}

.sec-text ,.sub-text pre{
	font-family: 'Montserrat';
	font-style: normal;
	display: flex;
	font-weight: 500;
	font-size: 20px;
	line-height: 150.9%;
	color: #FFFFFF;
	margin: 19px 0 0 34px;
}

.sec-text pre{
	font-family: 'Montserrat';
	font-style: normal;
	margin: 0;
}

.sec-text a{
	color: #FF8500;
	font-weight: 700;
	text-decoration:none;
}

.sec-text-ar ,.sub-text-ar pre{
	font-family: 'Tajawal';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 150.9%;
	display: flex;
	color: #FFFFFF;
	margin: 21px 0 0 34px;
}

.sec-text-ar pre{
	font-family: 'Tajawal';
	font-style: normal;
	margin: 0;
}

.sec-text-ar a{
	color: #FF8500;
	font-weight: 700;
	text-decoration:none;
}

/* end text */

/* start Subscribe */
.sub-text p{
	margin-top: 32px;
}

form{
	position: absolute;
	margin-top: 16px;
	margin-left: 33px;
}

form .input{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 150.9%;
	width: 377px;
	height: 40px;
	background: rgba(255, 255, 255, 0.24);
	border-radius: 7px;
	border: none;
	outline: none;
}

form .input::placeholder{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 150.9%;
	color: #FFFFFF;
	padding: 8px 0px 9px 9px;
}

.sub{
	position: relative;
	top: 2px;
    right: 16px;
	background: #FF8500;
	border-radius: 7px;
	width: 130px;
	height: 42px;
	border: none;
	outline: none;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 150.9%;
	color: #FFFFFF;
	margin-top: 5px;
	cursor: pointer;
}

form .input-ar{
	width: 396px;
	height: 40px;
	background: rgba(255, 255, 255, 0.24);
	border-radius: 7px;
	border: none;
	outline: none;
}

form .input-ar::placeholder{
	font-family: 'Tajawal', sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 150.9%;
	color: rgba(255, 255, 255, 0.64);
	padding: 8px 21px 2px 0px;
}

.sub-ar{
	position: relative;
	top: 2px;
    right: -22px;
	background: #FF8500;
	border-radius: 7px;
	width: 130px;
	height: 42px;
	border: none;
	outline: none;
	font-family: 'Tajawal', sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 150.9%;
	color: #FFFFFF;
	margin-top: 5px;
	cursor: pointer;
}

/* end Subscribe */

/* start  Counter*/
.countdown {
	display: flex;
	margin-top: 94px;
	margin-bottom: 0;
	text-align:center;
}

.countdown-ar {
	gap: 5px;
	margin-left: 20px;
}

.styled div {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 150.9%;
	color: #FFFFFF;
	margin-right: 34px;
}

.styled div:first-child {
	margin-left: 33px;
}

.styled div span {
	display: block;
}

/* end  Counter*/

/* start  footer*/
.footer{
	display: flex;
	gap: 56px;
	margin-top: 38px;
	margin-left: 33px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 150.9%;
	color: #FFFFFF;
	position: relative;
	z-index: 1;
}

.footer p{
	margin: 0;
}

.footer .social{
	display: flex;
	gap: 6.65px;
}

.footer-ar{
	display: flex;
	gap: 78px;
	margin-top: 38px;
	margin-left: 53px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 150.9%;
	color: #FFFFFF;
}

.footer-ar p{
	margin: 0;
}

.footer-ar .social{
	display: flex;
	gap: 6.65px;
}

.footer a{
	color: #FF8500;
	font-weight: 400;
	text-decoration:none;
}

/* end  footer*/